
@font-face {
    font-family: Futura ltbt;
    src: url(./fonts/futura-ltbt.ttf);
}
@font-face {
    font-family: Futura mdbt;
    src: url(./fonts/futura-mdbt.ttf);
}
@font-face {
    font-family: Futura heavy;
    src: url(./fonts/futura-heavy.ttf);
}

@font-face {
    font-family: Futura condlt;
    src: url(./fonts/futura-condlt.otf);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Futura ltbt;
}

.top-bar-section
{
    padding: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 111;
    box-shadow: 0 2px 2px #00000010;
}

.umino-logo-header
{
    height: 1.5rem;
    display: block;
}

.header-center a
{
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-family: Futura mdbt;
    font-size: 1.2rem;
}

.header-center a:hover {
    color: rgb(235, 78, 78);
}

i {
    font-size: 1.2rem;
    padding-left: 20px;
}

.bi-person
{
    font-size: 24px;
}
.bi-cart
{
    font-size: 22px;
}

i:hover {
    color: rgb(235, 78, 78);
}

.slider
{
    
    position: relative;
}

.slider img
{
    display: block;
    width: 100%;
}

.slider-content
{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.inner-content
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: Futura ltbt;     */
}

.inner-content h1
{
    font-size: 64px;
}
.inner-content h1:nth-child(2)
{
    margin-bottom: 20px;
}

.inner-content p
{
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.inner-content button
{
    all: unset;
    background: #000;
    padding: 20px;
    color: #fff;
    border-radius: 100px;
    width: 150px;
    text-align: center;
}

.second-container
{
    
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.second-container img
{
    width: 100%;
    transition: transform .2s;
}

.second-container img:hover
{
    transform: scale(1.2) translateY(-20px);    
}


.left
{
    position: relative;
    overflow: hidden;
}
.center
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top{
    position: relative;
    overflow: hidden;
}
.top img {
    display: block;
}

.down
{
    display: flex;
    gap: 10px;
}

.down div
{
    position: relative;
    width: calc(50% - 5px );
    overflow: hidden;
}

.right
{
    position: relative;
    overflow: hidden;
}
.white-tag
{
    position: absolute;
    background-color: #fff;
    padding: 15px;
    border-radius: 100px;
    width: max-content;
    font-family: Futura mdbt;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #00000028;
}


.trending-products
{
    margin-top: 40px;
    margin-bottom: 40px;
}
.trending-products h1
{
    /* font-family: Futura ltbt; */
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.trending-products p
{
    font-family: Futura mdbt;
    font-size: 1.1rem;
    text-align: center;
}

.trend
{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    gap: 20px;    
}
.trend-product-box-content p
{    
    font-family: Futura mdbt;
}
.starred
{
    font-size: 1.2rem;
}

.trend-product-box-main
{
    flex-grow: 1;
}
.trend-image-holder
{
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(209, 209, 209);  
    border-radius: 10px;
}
.trend-images
{
    display: block;
    width: 100%;
    transition: .5s ease-in-out;
}


.trend-product-box-content > span
{
    all: unset;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #7abdb5;
    border-radius: 50%;
    outline: 1px solid #b9b9b9;
    border: 3px solid #fff
}

.trend-product-box-content > span:nth-last-child(1)
{
    background-color: #3f8ad1;
}

.trend-image-holder-inner
{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.trend-image-holder-inner-top
{
    display: flex;
    justify-content: space-between;
}

.trend-image-holder-rightside-icons
{
    display: flex;
    flex-direction: column;
}

.trend-image-holder-leftside-icons
{
    display: flex;
    flex-direction: column;
}
.trend-image-holder-rightside-icons div
{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #b3b3b3;
}


.trend-image-holder-rightside-icons i
{
    padding: 0;
    cursor: pointer;
    display: grid;
    place-items: center;
    height: 100%;
}

.trend-image-holder-leftside-icons span
{
    background-color: green;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: fit-content;
}
.product-discount-badge
{
    background-color: red !important;
}

.trend-image-holder-inner a
{
    text-decoration: none;
    color: #000;
    padding: 10px;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 10px #00000028;

}


.trend-image-holder-inner
{
    opacity: 0;
    transition: opacity .5s ease-in-out;
}



.trend-image-holder:hover .trend-image-holder-inner
{
    opacity: 1;
    cursor: pointer;
}


.trend-images:nth-child(2)
{
    display: none;
    animation: zoom-in .2s ease-out;
}
.trend-image-holder:hover .trend-images:nth-child(2)
{
    display: block;
}
.trend-image-holder:hover .trend-images:nth-child(1)
{
    display: none;
}

.callout-holder
{
    position: relative;
}
.trend-image-callout
{
    display: none;
    width: max-content;    
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    
}
.trend-image-callout::before
{
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #000;
    position: absolute;    
    right: -3px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: -1;
    
}
.callout-holder:hover .trend-image-callout
{
    display:block
}
.trend-image-holder-button:hover
{
    background-color: #2c2c2c;
    color: #fff;
}



@keyframes zoom-in{
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}





footer
{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    
}

footer .footer-left p
{
    margin-bottom: 5px;    
}
footer .footer-company
{
    display: flex;
    flex-direction: column;
}

footer .footer-customer-service
{
    display: flex;
    flex-direction: column;
}

footer .footer-left img
{
    margin-bottom: 20px;
}

footer h3
{
    margin-bottom: 10px;
}
footer a
{
    all: unset;
    cursor: pointer;
    margin-top: 10px;
}